<a href="https://colab.research.google.com/github/bmt202121414/bmt_python/blob/main/21414_9%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [22]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [23]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [24]:
type(s)

pandas.core.series.Series

In [25]:
type('afdsafd')

str

In [26]:
pd.date_range('20210430', periods=6)

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [27]:
range(5)

range(0, 5)

In [28]:
dates = pd.date_range('20210430', periods=6)

In [29]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [46]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [47]:
df

                   A         B         C         D
2021-04-30 -0.485520  0.403858  0.473627 -1.565959
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-05-02 -0.815339  0.004788  0.043318 -1.095607
2021-05-03  0.353258  0.236984 -0.194499  0.095873
2021-05-04 -0.945803  1.957710  0.126232 -1.151757
2021-05-05 -0.217767 -0.832628 -0.131743  0.238897

In [38]:
np.random.randn(6,4)

array([[ 1.66187888,  1.02659927, -0.47370568,  0.38023652],
       [ 0.43004821,  0.28037127,  0.38933835, -1.22205895],
       [ 0.63673881, -1.59351314, -0.03018342, -0.14856774],
       [-0.17244905, -0.26579718, -0.16644635, -0.47587403],
       [ 1.03124549,  0.43495289,  0.36392175, -1.60358639],
       [ 0.47529607, -0.41825394,  0.30562834,  0.04835577]])

In [39]:
df2 = pd.DataFrame(
    {
        'A':1,
        'B':pd.Timestamp('20210430'),
        'C':pd.Series(1, index=list(range(4)), dtype='float32'),
        'D':np.array([3]*4, dtype='int32'),
        'E':pd.Categorical(['test', 'train','test','train']),
        'F':'f00'


    }
)

In [40]:
type(df2)

pandas.core.frame.DataFrame

In [41]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [48]:
df

                   A         B         C         D
2021-04-30 -0.485520  0.403858  0.473627 -1.565959
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-05-02 -0.815339  0.004788  0.043318 -1.095607
2021-05-03  0.353258  0.236984 -0.194499  0.095873
2021-05-04 -0.945803  1.957710  0.126232 -1.151757
2021-05-05 -0.217767 -0.832628 -0.131743  0.238897

In [49]:
df.head()

                   A         B         C         D
2021-04-30 -0.485520  0.403858  0.473627 -1.565959
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-05-02 -0.815339  0.004788  0.043318 -1.095607
2021-05-03  0.353258  0.236984 -0.194499  0.095873
2021-05-04 -0.945803  1.957710  0.126232 -1.151757

In [51]:
df.tail(2)

                   A         B         C         D
2021-05-04 -0.945803  1.957710  0.126232 -1.151757
2021-05-05 -0.217767 -0.832628 -0.131743  0.238897

In [52]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [53]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [54]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2021-04-30 -0.485520  0.403858  0.473627 -1.565959
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-05-02 -0.815339  0.004788  0.043318 -1.095607
2021-05-03  0.353258  0.236984 -0.194499  0.095873
2021-05-04 -0.945803  1.957710  0.126232 -1.151757
2021-05-05 -0.217767 -0.832628 -0.131743  0.238897

In [56]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-05 -0.217767 -0.832628 -0.131743  0.238897
2021-05-04 -0.945803  1.957710  0.126232 -1.151757
2021-05-03  0.353258  0.236984 -0.194499  0.095873
2021-05-02 -0.815339  0.004788  0.043318 -1.095607
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-04-30 -0.485520  0.403858  0.473627 -1.565959

In [57]:
df

                   A         B         C         D
2021-04-30 -0.485520  0.403858  0.473627 -1.565959
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-05-02 -0.815339  0.004788  0.043318 -1.095607
2021-05-03  0.353258  0.236984 -0.194499  0.095873
2021-05-04 -0.945803  1.957710  0.126232 -1.151757
2021-05-05 -0.217767 -0.832628 -0.131743  0.238897

In [58]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-05 -0.217767 -0.832628 -0.131743  0.238897
2021-05-02 -0.815339  0.004788  0.043318 -1.095607
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-05-03  0.353258  0.236984 -0.194499  0.095873
2021-04-30 -0.485520  0.403858  0.473627 -1.565959
2021-05-04 -0.945803  1.957710  0.126232 -1.151757

In [59]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [60]:
df['A']

2021-04-30   -0.485520
2021-05-01   -0.532821
2021-05-02   -0.815339
2021-05-03    0.353258
2021-05-04   -0.945803
2021-05-05   -0.217767
Freq: D, Name: A, dtype: float64

In [61]:
df[['A','C']]

                   A         C
2021-04-30 -0.485520  0.473627
2021-05-01 -0.532821  0.830514
2021-05-02 -0.815339  0.043318
2021-05-03  0.353258 -0.194499
2021-05-04 -0.945803  0.126232
2021-05-05 -0.217767 -0.131743

In [62]:
df[0:1]

                  A         B         C         D
2021-04-30 -0.48552  0.403858  0.473627 -1.565959

In [64]:
df['20210430',df[0:1] ]

TypeError: ignored

In [65]:
df

                   A         B         C         D
2021-04-30 -0.485520  0.403858  0.473627 -1.565959
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-05-02 -0.815339  0.004788  0.043318 -1.095607
2021-05-03  0.353258  0.236984 -0.194499  0.095873
2021-05-04 -0.945803  1.957710  0.126232 -1.151757
2021-05-05 -0.217767 -0.832628 -0.131743  0.238897

In [66]:
df.loc[dates[0]]

A   -0.485520
B    0.403858
C    0.473627
D   -1.565959
Name: 2021-04-30 00:00:00, dtype: float64

In [67]:
df.loc['20210430', 'A']

-0.48551950491746837

In [68]:
df['A']

2021-04-30   -0.485520
2021-05-01   -0.532821
2021-05-02   -0.815339
2021-05-03    0.353258
2021-05-04   -0.945803
2021-05-05   -0.217767
Freq: D, Name: A, dtype: float64

In [69]:
df.loc['20210430']

A   -0.485520
B    0.403858
C    0.473627
D   -1.565959
Name: 2021-04-30 00:00:00, dtype: float64

In [73]:
df.loc['20210430':'20210530',['A','C','D']]

                   A         C         D
2021-04-30 -0.485520  0.473627 -1.565959
2021-05-01 -0.532821  0.830514 -0.613495
2021-05-02 -0.815339  0.043318 -1.095607
2021-05-03  0.353258 -0.194499  0.095873
2021-05-04 -0.945803  0.126232 -1.151757
2021-05-05 -0.217767 -0.131743  0.238897

In [74]:
df

                   A         B         C         D
2021-04-30 -0.485520  0.403858  0.473627 -1.565959
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-05-02 -0.815339  0.004788  0.043318 -1.095607
2021-05-03  0.353258  0.236984 -0.194499  0.095873
2021-05-04 -0.945803  1.957710  0.126232 -1.151757
2021-05-05 -0.217767 -0.832628 -0.131743  0.238897

In [75]:
df.iloc[3]

A    0.353258
B    0.236984
C   -0.194499
D    0.095873
Name: 2021-05-03 00:00:00, dtype: float64

In [77]:
df.loc[dates[3]]

A    0.353258
B    0.236984
C   -0.194499
D    0.095873
Name: 2021-05-03 00:00:00, dtype: float64

In [78]:
df.loc[3]

KeyError: ignored

In [79]:
d

NameError: ignored

In [80]:
df

                   A         B         C         D
2021-04-30 -0.485520  0.403858  0.473627 -1.565959
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-05-02 -0.815339  0.004788  0.043318 -1.095607
2021-05-03  0.353258  0.236984 -0.194499  0.095873
2021-05-04 -0.945803  1.957710  0.126232 -1.151757
2021-05-05 -0.217767 -0.832628 -0.131743  0.238897

In [81]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [82]:
df.iloc[0:3,0:4]

                   A         B         C         D
2021-04-30 -0.485520  0.403858  0.473627 -1.565959
2021-05-01 -0.532821  0.094317  0.830514 -0.613495
2021-05-02 -0.815339  0.004788  0.043318 -1.095607

In [83]:
df.A

2021-04-30   -0.485520
2021-05-01   -0.532821
2021-05-02   -0.815339
2021-05-03    0.353258
2021-05-04   -0.945803
2021-05-05   -0.217767
Freq: D, Name: A, dtype: float64

In [84]:
df.A > 0

2021-04-30    False
2021-05-01    False
2021-05-02    False
2021-05-03     True
2021-05-04    False
2021-05-05    False
Freq: D, Name: A, dtype: bool

In [85]:
df [df > 0]

                   A         B         C         D
2021-04-30       NaN  0.403858  0.473627       NaN
2021-05-01       NaN  0.094317  0.830514       NaN
2021-05-02       NaN  0.004788  0.043318       NaN
2021-05-03  0.353258  0.236984       NaN  0.095873
2021-05-04       NaN  1.957710  0.126232       NaN
2021-05-05       NaN       NaN       NaN  0.238897